html{
    scroll-behavior: smooth;
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 150px;
    margin: 20px auto;
    height: 5px;
}
#news{
    background-image: url(../imgs/newsletter.jpg);
    height: 300px;
}